# Load dynamic library with compiled C code
useDynLib(utsOperators, .registration=TRUE)
importFrom(Rcpp, evalCpp)


# Imports from other packages
import(uts)
import(lubridate)
importFrom("stats", "end", "median", "start", "var", "window")


# Export generic methods
export(ema)
export(rolling_apply)
export(rolling_apply_specialized)
export(sma)


# Register S3 methods (needed if a package is imported but not attached to the search path)
S3method(ema, uts)
S3method(rev, uts)
S3method(rolling_apply, uts)
S3method(rolling_apply_specialized, uts)
S3method(sma, uts)


# Miscellaneous functions
export(check_window_width)
export(generic_C_interface)
export(have_rolling_apply_specialized)
export(rolling_apply_static)
export(rolling_time_window)
export(rolling_time_window_indices)
export(sma_linear_R)
export(sma_last_R)
