# Load dynamic library with compliled C code
useDynLib(utsOperators)


# Imports from other packages
import(uts)
import(lubridate)


# Export generic methods
export(ema)
export(rolling_apply)
export(sma)


# Register S3 methods (needed if a package is imported but not attached to the search path)
S3method(ema, uts)
S3method(rev, uts)
S3method(rolling_apply, uts)
S3method(sma, uts)


# Miscellaneous functions
export(generic_C_interface)
export(generic_C_interface_rolling)
export(rolling_apply_static)
export(rolling_time_window)
export(rolling_time_window_indices)
export(sma_equal_R)
export(sma_linear_R)
export(sma_last_R)
