## Import packages
import(uts)


## Register S3 methods (needed if a package is imported but not attached to the search path)
S3method(ema, uts)
S3method(sma, uts)
#S3method(sma, uts)


## Miscellaneous functions
#exportPattern("^[^\\.]")      # export all methods/variables that do not start with a period
